<div class="container">
  <h2>
    Books
  </h2>

  <book-form [book]="books[2]"></book-form>

  <button
    (click)="toggleCart()"
    class="btn btn-primary">
    Show cart
  </button>

  <h4 *ngIf="cartIsDisplayed">
    This is my cart
  </h4>

  <!--<ng-template #noBooks>-->
  <!--<p>-->
  <!--There are no book-list-->
  <!--</p>-->
  <!--</ng-template>-->

  <!--<table *ngIf="book-list.length;else noBooks">-->
  <!--<thead>-->
  <!--<tr>-->
  <!--<th>index in the array</th>-->
  <!--<th>id</th>-->
  <!--<th>title</th>-->
  <!--<th>author</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr *ngFor="let book of book-list;let i=index">-->
  <!--<td>{{i+1}}</td>-->
  <!--<td>{{book.id}}</td>-->
  <!--<td>{{book.title}}</td>-->
  <!--<td>{{book.author}}</td>-->
  <!--</tr>-->
  <!--<tr></tr>-->
  <!--<tr></tr>-->
  <!--</tbody>-->
  <!--</table>-->

  <book *ngFor="let b of books | bookFilter" [book]="b"
        (mojKlik)="react()"
  ></book>
</div>
