.tile {
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    line-height: 0;
    font-size: 0;
}

.closed {
    background-image: url(/app/assets/images/minesweeper/closed.png);
}

.marked {
    background-image: url(/app/assets/images/minesweeper/marked.png);
}
